html {
  background-color: blue;
}

body {
  background-color: white;
  width: 800px;
  margin: 0 auto;
}

nav {
  background-color: grey;
  height: 30px;
}

a {
  margin: 30px;
  padding: 10px;
  background-color: yellow;
  border: 1px solid red;
}

ul a {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

h1 {
  text-align: center;
}

div {
  background-color: #efe;
  padding: 10px;
}

p {
  font-family: sans-serif;
}
