html {
  background-color: black;
}

body {
  background-color: rgb(214, 174, 174);
  width: 800px;
  margin: 0 auto;
}

nav {
  background-color: rgb(116, 98, 98);
  height: 30px;
}

a {
  margin: 30px;
  padding: 10px;
  background-color: rgb(230, 14, 230);
  border: 1px solid rgb(126, 47, 47);
}

ul a {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

h1 {
  text-align: center;
}

div {
  background-color: rgb(225, 228, 225);
  padding: 10px;
}

p {
  font-family: sans-serif;
}
