html {
  background-color: greenyellow;
}

body {
  background-color: maroon;
  width: 1000x;
  margin: 50px auto;
}

nav {
  background-color: grey;
  height: 1px;
  border-color: 50px red;


}

a {
  margin: 50px;
  padding: 2px;
  background-color: yellow;
  border: 3px double red;
}

ul a {
  color: white;
  margin: 0;
  padding: 0;
  background-color: blueviolet;
  border: none;
}

h1 {
  text-align: center;
  background-color: cyan;
}

div {
  background-color: rgba(172, 32, 165, 0.678);
  padding: 100px;
}

p {
  font-family: sans-serif;
}
